*.o
*.d
*.a
*.swp
*.hi
*.cmd
*.out
dist
apps/sandbox/sandbox
apps/ufirewall/ufirewall
apps/ufirewall/firewall_test
apps/wedge/bench
apps/wedge/httpd
apps/wedge/test
bench/bench_dune
bench/bench_dune_ring
bench/bench_linux
eglibc-2.14/
kern/Module.symvers
kern/dune.ko
kern/dune.mod.c
kern/modules.order
kern/tmp/
test/hello
test/test
test/test_sandbox
test/timetest
tags
